<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.aloic.apeurival.entity.mapper.VaultItemMapper">

    <select id="countByAuthorsPage" resultType="java.util.HashMap">
        SELECT owner_id, author_name, COUNT(*) AS item_count
        FROM vault_items
        <where>
            <if test="groupId != null">
                group_id = #{groupId}
            </if>
            <if test="groupId == null">
                group_id IS NULL
            </if>
        </where>
        GROUP BY owner_id, author_name
    </select>

    <select id="selectGroupItemsPage" resultType="me.aloic.apeurival.entity.po.VaultItemPO">
        SELECT * FROM vault_items
        WHERE group_id = #{groupId}
        <if test="authorName != null and authorName != ''">
            AND author_name = #{authorName}
        </if>
        AND visibility IN
        <foreach collection="visibilities" item="v" open="(" separator="," close=")">
            #{v}
        </foreach>
        ORDER BY created_at DESC
    </select>

    <select id="selectNonGroupItemsPage" resultType="me.aloic.apeurival.entity.po.VaultItemPO">
        SELECT * FROM vault_items
        WHERE group_id IS NULL
        <if test="ownerId != null">
            AND owner_id = #{ownerId}
            AND (author_name IS NULL OR author_name = '')
        </if>
        <if test="authorName != null and authorName != ''">
            AND owner_id IS NULL
            AND author_name = #{authorName}
        </if>
        AND visibility IN
        <foreach collection="visibilities" item="v" open="(" separator="," close=")">
            #{v}
        </foreach>
        ORDER BY created_at DESC
    </select>

</mapper>
