<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.aloic.apeurival.entity.mapper.VaultItemMapper">

    <resultMap id="authorCountMap" type="java.util.HashMap">
        <result property="owner_id" column="owner_id"/>
        <result property="author_name" column="author_name"/>
        <result property="item_count" column="item_count"/>
    </resultMap>

    <select id="countByAuthorsPage" resultType="java.util.HashMap">
        SELECT owner_id, author_name, COUNT(*) AS item_count
        FROM vault_items
        GROUP BY owner_id, author_name
    </select>

    <select id="listVisibleItemsPage" resultType="me.aloic.apeurival.entity.po.VaultItemPO">
        SELECT * FROM vault_items
        WHERE
            <if test="ownerId != null">
                owner_id = #{ownerId}
                AND (author_name IS NULL OR author_name = '')
            </if>
            <if test="authorName != null and authorName != ''">
                author_name = #{authorName}
            </if>
            <if test="!isAdmin and !isOwner">
                <choose>
                    <when test="isEditor">
                        AND visibility IN ('PUBLIC', 'MEMBERS', 'RESTRICTED')
                    </when>
                    <when test="isLoggedIn">
                        AND visibility IN ('PUBLIC', 'MEMBERS')
                    </when>
                    <otherwise>
                        AND visibility = 'PUBLIC'
                    </otherwise>
                </choose>
            </if>
        ORDER BY created_at DESC
    </select>

</mapper>
